.container{
    background-color: rgb(236, 120, 25);
    width: 100vmax;
    height: 100vmax;
    display: none;
}

.grid-container {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
  
  .grid-item {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-button {
    background: teal;
    width: 180px;
    height: 180px;
    font-size: -webkit-xxx-large;
}
